@import "font.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;

  background-color: black;

  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  margin-top: 20px;
  margin-left: 10px;
}

.main {
  display: grid;

  grid-template-columns: 320px;
  grid-template-rows: 440px 60px;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8 {
  position: absolute;

  display: flex;

  width: 30px;
  height: 30px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #FF00FF;

}

#c1 {
  margin-top: -10px;
}

#c2 {
  margin-top: 10px;
  margin-left: 260px;

}

#c3 {
  margin-top: 300px;
  margin-left: 60px;
}

#c4 {
  margin-top: 230px;
  margin-left: 250px;
}

#c5 {
  margin-top: 100px;
  margin-left: 130px;
}

#c6 {
  margin-top: 480px;
  margin-left: 40px;
}

#c7 {
  margin-top: 550px;
  margin-left: 280px;
}

#c8 {
  margin-top: 450px;
  margin-left: 170px;
}

.text1 p, .text2 p, .text3 p {
  text-align: justify;

  color: white;

  font-family: 'Avenir Next Cyr Regular';
  font-size: 13px;
}

.adress {
  width: 320px;

  color: white;

  font-family: 'Avenir Next Cyr Regular';
  font-size: 13px;

  align-items: center;
  justify-content: center;
}

#a {
text-align: center;
}

.data {
  float: right;

  margin-top: -35px;

  text-align: center;

  color: white;

  font-family: 'Avenir Next Cyr Regular';
  font-size: 30px;
}

.o {
  width: 320px;

  justify-content: center;
  align-items: center;
}

.o > img {
  width: 320px;
  padding-right: auto;
  padding-left: auto;
}

#date {
  margin-bottom: 10px;

  text-align: center;
}

#time {
  text-align: center;

  line-height: 20px;
}

.logo > img {
  width: 80px;
}

/* .background {
  width: 320px;

  color: white;

  font-family: 'Fira Sans', sans-serif;
  font-size: 200px;
  font-weight: 900;

  justify-content: center;
  align-items: center;
} */

.about {
  display: grid;

  margin-top: 100px;

  grid-template-columns: 250px;
  grid-template-rows: 80px 200px 80px 200px 80px 200px;
  justify-content: center;
  align-items: center;
}

.dot1 > img {
  width: 80px;
}

.dot2 > img {
  width: 60px;

}

.dot3 > img {
  width: 100px;
}

#p1, #p2 {
  margin-top: -50px;
}

#p3 {
  margin-top: -90px;
}

.dot1, .dot2, .dot3 {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {

  .o > img {
    width: 760px;
  }

  .o {
    width: 768px;
  }

  .adress {
    width: 768px;
  }

  .main {
    display: grid;

    grid-template-columns: 760px;
    grid-template-rows: 1031px 60px;
  }

  .data {
    font-size: 50px;
  }

  #time {
    line-height: 35px;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {

}
